
.model-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.model-container-l {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.model-container-l .model-wrapper {
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.model-container-r {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.model-container-r .model-wrapper {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}